html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 2rem;
    margin: 0.5rem;
}


.active {
    border-bottom: 2px solid #adb5bd;
    font-weight: 500;
}
.form {
    width: 100%;
    margin: 2% auto;
    box-shadow: 1px -1px 7px 0 #00000061;
    border-radius: 5px;
}

/* Perfumes */

.card {
    height: 90%;
    margin-top: 1rem;
}

.perfumes:hover {
    cursor: pointer;
}

.perfume-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfume-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfume-picture {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 62.5em) {
    .perfume-info {
        flex-direction: row;
    }

    .perfume-img {
        width: 40%;
        margin: 0 auto;
    }

    .perfume-detail {
        width: 60%;
        padding: 2rem;
    }
}