{% load static %}

<footer class="bg-light">
    <!-- social media icons -->
    <p>
        <strong class="d-inline-block fs-4 mt-3">Follow Us:</strong>
    </p>
    <div>
        <a href="https://www.instagram.com/" class="d-inline-block" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
            <img src="{% static '/icons/black-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
        </a>
        <a href="https://twitter.com/" class="d-inline-block" target="_blank" rel="noopener" aria-label="X - Opens in a new tab">
            <img src="{% static '/icons/x-social-media-logo-icon.svg' %}" alt="X Icon" class="social-icon">
        </a>
        <a href="https://tiktok.com/" class="d-inline-block" target="_blank" rel="noopener" aria-label="Tiktok - Opens in a new tab">
            <img src="{% static '/icons/tiktok-icon.svg' %}" alt="Tiktok Icon" class="social-icon">
        </a>
        <a href="https://telegram.org/" class="d-inline-block" target="_blank" rel="noopener" aria-label="Telegram - Opens in a new tab">
            <img src="{% static '/icons/telegram-black-icon.svg' %}" alt="Telegram Icon" class="social-icon">
        </a>
    </div>
    <p>
        <small>© Scentric | All Rights Reserved</small>
    </p>
</footer>